canvas {
  width: 100%;
  margin-bottom: 20px;
}

body {
  background-color: #262626;
  padding-top: 20px;
}

button,
textarea,
input,
select,
label{
  color: #fff;
}

select {
  background-color: #404040;
}
